<form action="/category" method="post">
	<select name="categoryName" id="test">
		<option value="" disabled selected>Choose a category:</option>
  		<option value="baby" data-icon="images/baby.png" class="right">Baby</option>
  		<option value="toddler" data-icon="images/toddler.png" class="right">Toddler</option>
  		<option value="preschool" data-icon="images/preschool.png" class="right">Preschool</option>
	</select>
	<input name="email" value="<%= user.email %>" hidden>
	<input class="btn waves-effect waves-light" type="submit" value="Next Step">
</form>