<!-- Displays the category options when a user is logged in and wants to update preferences. If these are changed in the model, the values will need to be updated here. -->

<form action="/category" method="post">
	<div class="row">
	    <div class="col s12 m4 center-align">
	      <input type="radio" name="categoryName" value= "baby" id="baby" class="selection"/>
			<label for="baby">Baby
				<img src="/images/baby.png" alt="baby" class="category-image" />
			</label>
	    </div>
	    <div class="col s12 m4 center-align">
	      <input type="radio" name="categoryName" value= "toddler" id="toddler" class="selection"/>
			<label for="toddler">Toddler
				<img src="/images/toddler.png" alt="baby" class="category-image" />
			</label>
	    </div>
	    <div class="col s12 m4 center-align">
	      <input type="radio" name="categoryName" value="preschool" id="preschool" class="selection"/>
			<label for="preschool">Preschooler
				<img src="/images/preschool.png" alt="preschool" class="category-image" />
			</label>
	    </div>
    </div>
    <div class="row add-margin">
    	<input name="email" value="<%= user.email %>" hidden>
    	<input class="btn waves-effect waves-light" type="submit" value="Next Step">
    </div>
</form>


