<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= pageTitle %></title>
  <meta name="description" content="A recommendation engine to help parents of children ages 0 to 5 discover new books their kids will love">
  <meta name="Erin Witmer" content="Thinkful capstone project">

  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>