<% include partials/template/head.ejs %>
<body>
	<div class="container">
		<div class="input-field col s12">
    		<% include partials/template/categoryChoice.ejs %>	
  		</div>
	</div>
	<% include partials/template/jsdefaults.ejs %>

</body>
</html>

