<% include partials/template/head.ejs %>
<body>
	<div class="container">
    
    <% include partials/template/bookChoice.ejs %>
    <% include partials/content/choices.ejs %>
	
	</div>
	<% include partials/template/jsdefaults.ejs %>
</body>
</html>
