<% include partials/template/head.ejs %>
<body>
	<div class="container">

    <% include partials/content/choices.ejs %>

	<p>You are logged in as <%= user.email %></p>

	<a name="<%= user.email %>" id="js-delete-user" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>

	<div>
		<p>Change options</p>	
		<% include partials/template/categoryChange.ejs %>
	</div>
	</div>
	<% include partials/template/jsdefaults.ejs %>
</body>
</html>
