<% include partials/template/head.ejs %>
<body>
	<div class="container">

	<%= decision %>

	<% include partials/content/choices.ejs %>

	<form action="/save" method="post"> 
		<div class="row">
	    <form class="col s12">
	      <div class="row">
	        <div class="input-field col s6">
	          <input name="firstName" id="first_name" type="text" class="validate" required>
	          <label for="first_name">First Name</label>
	        </div>
	        <div class="input-field col s6">
	          <input name="lastName" id="last_name" type="text" class="validate" required>
	          <label for="last_name">Last Name</label>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input name="email" id="email" type="email" class="validate" required>
	          <label for="email">Email</label>
	        </div>
	      </div>
	  	<input class="btn waves-effect waves-light" type="submit" value="Next Step">
		</form>
	 </div>

	<% include partials/template/jsdefaults.ejs %>
</body>
</html>